:root {
  --white: rgb(213, 229, 240);
  font-family: sans-serif;
  font-size: 18px;
}

section:not(:first-of-type) {
  margin-top: 70px;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 0;
}

a {
  color: rgb(255, 0, 255);
}

a:active {
  color: greenyellow;
}

#app {
  display: grid;
  grid-template-columns: 1fr 500px;
  width: 100%;
  position: relative;
}

.content {
  background-image: linear-gradient(to bottom left, rgb(79, 0, 110),rgb(0, 1, 68));
  background-color: rgb(19, 0, 49);
  color: var(--white);
}

.scroll-animation {
  height: 100vh;
  align-self: flex-start;
  position: sticky;
  top:0;
  left: 0;
}

header {
  font-size: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 30px 0 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--white);
}

header img {
  width: 200px;
  margin-bottom: 15px;
}

.about-me {
  font-size: 24px;
  max-width: 450px;
  margin: 60px auto;
  text-align: center;
}

.skills {
  background-color: rgb(5, 0, 31);
  margin: 0 30px;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid var(--white);
}

.skills p {
  border-bottom: 1px solid var(--white);
  padding-bottom: 20px;
}

.skill-groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.group {
  width: 150px;
}

.group h1 {
  font-size: 18px;
}

.group ul {
  list-style: '>  ';
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 30px 0 30px;
}

.education p {
  max-width: 75ch;
  text-align: center;
}

.education img {
  width: 350px;
}

.education ul {
  list-style: none;
  padding: 0;
}

.contacts {
  margin-top: 50px;
  padding: 50px 0;
  border-top: 1px solid var(--white);
}

.contacts .links {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contacts img {
  width: 75px;
}

.contacts a {
  transition: 0.3s transform ease-in-out;
}

.contacts a:hover {
  transform: scale(1.2);
}

footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 126);
}

.hidden {
  display: none;
}

.slideshow-controls {
  display: flex;
  justify-content: center;
}

.slide:not(.hidden) {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: rgb(0, 0, 44);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.slide > :first-child {
  grid-column: 1/-1;
  width:100%;
}

.slide .description{
  padding: 50px 20px;
}

.slide .description *{
  text-align: center;
}

.contents {
  background-color: rgb(42, 0, 48);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

.contents h1 {
  background-color: rgb(0, 0, 44);
  padding: 20px;
  word-wrap: break-word;
  margin: 0;
}

.contents button {
  border: none;
  outline: none;
  background-color: rgb(87, 0, 87);
  color: white;
  font-weight: bold;
  width:100%;
  height: 100%;
}

.contents button:hover {
  background-color: rgb(100, 0, 139);
}

.slide a {
  color: white;
  text-decoration: none;
}

.slide li {
  background-color: rgb(100, 0, 139);
  width:100%;
  padding: 20px;
  border-radius: 5px;
  margin: 5px;
}

.slide li:hover {
  background-color: rgb(87, 0, 87);
}

.slideshow-controls ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-container {
  display: flex;
}

@media (max-width:930px) {
  #app {
    grid-template-columns: 1fr 0;
  }

  .slideshow-controls {
    flex-direction: column;
  }

  .slide > :first-child {
    width: 100vw;
  }

  .slide:not(.hidden) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .project-container {
    width: 100vw;
  }

  .contents {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100vw;
  }
}